<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new motorhome</title>
</head>
<body>

<h1>Add new motorhome</h1>

<form action="/motorhomes/create" method="post">
    <p>Brand: <input type="text" title="brand" /></p>
    <p>Type: <input type="text" title="type" /></p>
    <p>Model: <input type="text" title="model" /></p>
    <p>Year: <input type="text" title="year" /></p>
    <p>Last Service: <input type="date" title="lastService" /></p>
    <p>Base Price: <input type="text" title="basePrice" /></p>
    <input type="submit" value="create">
</form>

</body>
</html>