<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Motorhome</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

    <div class="container">
        <div class="nav-bar">
            <a href="../" class="page"><span>Home</span></a>
            <a href="/motorhomes/" class="page"><span>Motorhomes</span></a>
            <a href="/motorhomes/create" class="page"><span>Create</span></a>
        </div>
        <div class="create">
            <h1>Add New Motorhome</h1>
            <div th:if="${errorMessage}" th:utext="${errorMessage}"
                 style="color:red;font-style:italic;">
            </div>
            <form th:action="@{/motorhomes/create}" th:object="${motorhomeForm}" method="post">
                <p class="row">
                    <span class="title">Brand</span>
                    <span class="value"><input type="text" th:field="*{brand}" minlength="3" maxlength="25"></span>
                </p>
                <p class="row">
                    <table>
                        <tr>
                            <td>Type:</td>
                            <td>
                                <select name="type">
                                    <option value="">--</option>
                                    <option th:each="type : ${types}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </p>
                <p class="row">
                    <span class="title">Model</span>
                    <span class="value"><input type="text" th:field="*{model}" minlength="3" maxlength="25"></span>
                </p>
                <p class="row">
                    <span class="title">Year</span>
                    <span class="value"><input type="number" th:field="*{year}" min="1950" max="2018"></span>
                </p>
                <p class="row">
                    <span class="title">Base Price</span>
                    <span class="value"><input type="number" th:field="*{basePrice}" min="100"></span>
                </p>
                <p class="buttons">
                    <input type="submit" value="Create Motorhome" class="btn create"/>
                </p>
            </form>
        </div>
    </div>

</body>
</html>