<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Motorhome id' + ${motorhome.id} + ' details:'"></title>
</head>
<body>

<h1 th:text="'Motorhome id' + ${motorhome.id} + ' details:'"></h1>
<ul style="list-style-type:disc">
    <p><li th:text="'Id: ' + ${motorhome.id}'"></li></p>
    <p><li th:text="'Brand: ' + ${motorhome.brand}'"></li></p>
    <p><li th:text="'Type: ' + ${motorhome.tyoe}'"></li></p>
    <p><li th:text="'Model: ' + ${motorhome.model}'"></li></p>
    <p><li th:text="'Year: ' + ${motorhome.year}'"></li></p>
    <p><li th:text="'Last Service' + ${motorhome.lastService}'"></li></p>
    <p><li th:text="'Base Price' + ${motorhome.basePrice}'"></li></p>
</ul>
</body>
</html>