<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Motorhomes list</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container">
<h1>Motorhomes List</h1>
<table class="mh-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Type</th>
        <th>Model</th>
        <th>Year</th>
        <th>Base Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="motorhome : ${moto}">
            <td th:text="${motorhome.id}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.type}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.year}"></td>
            <td th:text="${motorhome.basePrice}"></td>
            <td>
            <p class="row">
                <a th:href="@{'../motorhomes/details?id=' + ${motorhome.id}}">
                    <span class="btn details">Details</span>
                </a>
                <a th:href="@{'../motorhomes/delete?id=' + ${motorhome.id}}">
                    <span class="btn delete">Delete</span>
                </a>
            </p>
            </td>
        </tr>
    </tbody>
</table>
    <p class="buttons">
        <a href="/motorhomes/create" class="btn create">
            <span>Add new motorhome</span>
        </a>
    </p>
</div>
</body>
</html>