<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Rental</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>


<div class="container">
    <div class="nav-bar">
        <a href="../" class="page"><span>Home</span></a>
        <a href="/rentals/" class="page"><span>Rentals</span></a>
        <a href="/rentals/create" class="page"><span>Create</span></a>
    </div>
    <div class="create">
        <h1>Add New Rental</h1>
        <div th:if="${errorMessage}" th:utext="${errorMessage}"
             style="color:red;font-style:italic;">
        </div>

        <form th:action="@{/rentals/create}" th:object="${rentalForm}" method="post">
            <p class="row">
                <table>
                    <tr>
                        <td>Customer:</td>
                        <td>
                            <select th:field="*{customerId}">
                                <option value="-1">--</option>
                                <option th:each="customer : ${customers}"
                                        th:value="${customer.id}"
                                        th:text="${customer.fullName}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
            </p>
            <p class="row">
                <table>
                    <tr>
                        <td>Motorhome:</td>
                        <td>
                            <select th:field="*{motorhomeId}">
                                <option value="-1">--</option>
                                <option th:each="motorhome : ${motorhomes}"
                                        th:value="${motorhome.id}"
                                        th:text="${motorhome.fullName}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
            </p>
            <p class="row">
                <span class="title">Price:</span>
                <span class="value"><input type="number" th:field="*{price}" min="100"/></span>
            </p>
            <p class="row">
                <span class="title">Start Date:</span>
                <span class="value"><input type="date" th:field="*{startDate}" th:min="${minStartDate}"/></span>
            </p>
            <p class="row">
                <span class="title">End Date:</span>
                <span class="value"><input type="date" th:field="*{endDate}" th:min="${minEndDate}"/></span>
            </p>
            <p class="row">
                <span class="title">Pick Up:</span>
                <span class="value"><input type="text" th:field="*{pickUp}" minlength="5" maxlength="20"/></span>
            </p>
            <p class="row">
                <span class="title">Drop Off:</span>
                <span class="value"><input type="text" th:field="*{dropOff}" minlength="5" maxlength="20"/></span>
            </p>
            <!--<p class="row">-->
                <!--<label class="title" th:for="testbool" th:text="'Test'"></label>-->
                <!--<input type="checkbox" th:field="*{testbool}">-->
            <!--</p>-->
            <!--<p class="row">-->
                <!--<span class="title">Is Paid:</span>-->
                <!--<span class="value"><input type="checkbox" name="paid"/></span>-->
            <!--</p>-->

            <!--<p class="row">-->
                <!--<span class="title">Accessories:</span>-->
                    <!--<span th:each="accessory : *{accessories}">-->
                        <!--<div  >-->
                            <!--<label class="title" th:for="added" th:text="${accessory.title}"></label>-->
                            <!--<input type="checkbox" th:object="${accessory}" th:field="*{added}"/>-->
                        <!--</div>-->
                    <!--</span>-->
            <!--</p>-->
            <ul>
                <li th:each="accessory: ${allAccessories}">
                    <input type="checkbox"
                    th:field="*{accessories}"
                    th:value="${accessory}"/>

                    <label th:for="${#ids.prev('accessories')}"
                           th:text="${accessory}"></label>
                </li>
            </ul>

            <p class="buttons">
                <input type="submit" value="Create Rental" class="btn create"/>
            </p>

        </form>
    </div>
</div>

</body>
</html>