<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Rental</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>


<div class="container">
    <div class="create">

        <h1>Add New Rental</h1>

        <form action="/rentals/create" method="post">
            <p class="row">
                <table>
                    <tr>
                        <td>Customer:</td>
                        <td>
                            <select name="customerId">
                                <option value="-1">--</option>
                                <option th:each="customer : ${customers}"
                                        th:value="${customer.id}"
                                        th:text="${customer.fullName}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
            </p>
            <p class="row">
            <table>
                <tr>
                    <td>Motorhome:</td>
                    <td>
                        <select name="motorhomeId">
                            <option value="-1">--</option>
                            <option th:each="motorhome : ${motorhomes}"
                                    th:value="${motorhome.id}"
                                    th:text="${motorhome.fullName}"></option>
                        </select>
                    </td>
                </tr>
            </table>
            </p>
            <p class="row">
                <span class="title">Price:</span>
                <span class="value"><input type="number" name="price"/></span>
            </p>
            <p class="row">
                <span class="title">Start Date:</span>
                <span class="value"><input type="date" name="startDate"/></span>
            </p>
            <p class="row">
                <span class="title">End Date:</span>
                <span class="value"><input type="date" name="endDate"/></span>
            </p>
            <p class="row">
                <span class="title">Pick Up:</span>
                <span class="value"><input type="text" name="pickUp"/></span>
            </p>
            <p class="row">
                <span class="title">Drop Off:</span>
                <span class="value"><input type="text" name="dropOff"/></span>
            </p>
            <p class="row">
                <span class="title">Is Paid:</span>
                <span class="value"><input type="text" name="paid"/></span>
            </p>

            <p class="buttons">
                <input type="submit" value="Create Rental" class="btn create"/>
            </p>

        </form>
    </div>
</div>

</body>
</html>