<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Details</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div class="container">
    <div class="details">
        <h1>Rental Details</h1>
        <p class="row"><span class="title">Id:</span><span th:text="${rental.id}" class="value"></span></p>
        <p class="row"><span class="title">Customer:</span><span><a class="value" th:href="@{'../customers/details?id=' + ${rental.customerId}}" th:text="${rental.customerName}"></a></span></p>
        <p class="row"><span class="title">Motorhome:</span><span><a class="value" th:href="@{'../motorhomes/details?id=' + ${rental.motorhomeId}}" th:text="${rental.motorhomeName}"></a></span></p>
        <p class="row"><span class="title">Price:</span><span th:text="${rental.price}" class="value"></span></p>
        <p class="row"><span class="title">Start Date:</span><span th:text="${rental.startDate}" class="value"></span></p>
        <p class="row"><span class="title">End Date:</span><span th:text="${rental.endDate}" class="value"></span></p>
        <p class="row"><span class="title">Pick Up:</span><span th:text="${rental.pickUp}" class="value"></span></p>
        <p class="row"><span class="title">Drop Off:</span><span th:text="${rental.dropOff}" class="value"></span></p>
        <p class="row"><span class="title">Is Paid:</span><span th:text="${rental.paid}" class="value"></span></p>

        <p class="row"><span class="title">Accessories:</span>
            <th:block  th:each="accessory : ${rental.accessories}">
                <span th:text="${accessory.title} + ', '"></span>
            </th:block>
        </p>

        <p class="buttons">
            <input th:if="${rental.paid}" type="submit" value="Pay Rental" class="btn create"/>
        <!--<p>rental.paid: </p>    -->
        <!--<p th:text="${rental.paid}"></p>-->
        <!--<p>rental.paid: </p>-->
        <!--<p th:text="${user.getType()}"></p>-->
        </p>



        <!--
        <table class="mh-table">
            <tbody>
                <tr th:each="accessory : ${rental.accessories}">
                    <td th:text="${accessory.title}"></td>
                </tr>
            </tbody>
        </table>

        <!--<p class="row"><span class="highlight">Accessories</span><span th:text="${rental.id}" class="value"></span></p>-->
    </div>
</div>

</body>
</html>